
.no-padding{
	padding: 0 !important;

@media (min-width: 768px) {
	.search-box .search-box-content form select.select-address,
.search-box .search-box-content form select.select-rank{
	/*max-width: 220px;*/
	width:auto !important;
	
}
.content-page .right-page{
	margin: 10px 0;
	/*padding-left: 15px;*/
}

}
@media (min-width: 992px) {
	.search-box .search-box-content form select.select-address,
.search-box .search-box-content form select.select-rank{
	/*max-width: 220px;*/
	/*width:auto !important;*/
	/*width: 220px !important;*/
	
}
}
@media (min-width: 1200px) {

}


@media (max-width: 767px) {
	.site-title span.web-title{
		text-align: left;
	}
	.job-detail{
		padding: 0 !important;
	}
	.employer-page{
		padding: 0 !important;
	}
	.no-padding-right{
		padding-right: 15px;
		padding-left: 0 !important;
	}
	.employer-box{
		padding-bottom: 10px;
	}
	.employer-title-box{
		text-align: center;
		padding-bottom: 10px;
	}
	.btn-employer{
		margin: 0 auto;
		display: block;
	}
	.jobseeker-title-box{
		text-align: center;
	}
	.active-menu{
		border-bottom: none;
	}
	.top-header{
		display: none;
	}
	.reponsive-menu{
		display: block;
	}
	.jobseeker{
		max-height: none;
		padding-bottom: 10px;
	}
	.item-new-job{
	border:5px solid #fff;
	margin: 0 auto;
	max-width: 200px;
	
}
.employer-padding-left{
	padding-left: 15px !important;
}
.employer-title-box{
	margin: 0 auto;
}
.image-employer-box{
	display: none;
}
.text-slide{
	text-align: center;
}
	  .btn-tab{
	  	/*margin: 0 auto;*/
	  	margin-top: 5px;
	  }
	    .btn-tab-r{
	    	margin-right: 0;
	    }
	.content-page .right-page{
	margin: 10px 0;
	padding-left: 15px;
}
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -100px;
    text-align: center;
}
.hide-job-responsive-760{
	display: none;
}
.hide-partner-responsive-760{
	display: none;
}
.scrollToTop{
	width:32px; 
	height:32px;
	text-align:center; 
	background: whiteSmoke;
	font-weight: bold;
	text-decoration: none;
	position:fixed;
	bottom: 20px;
	right:0;
	display:none;
	z-index: 99999;
	background: url('../img/page/go_top.png') no-repeat;
}
footer ul{
	margin: 10px 0;
	padding: 0;
	display: block;
}
.sologan {
	top: 0; left: 0; bottom: 0; right: 0;
	margin: 0 auto;
}
.sologan h4{
	font-size: 15px;
}
.flex-prev{
	position: absolute;
	top:40%;
	margin-left: 30px;
}
.flex-next{
position: absolute;
	top:40%;
	margin-right: 30px;
}
}/*end media queries*/

@media (max-width: 560px) {
	.sologan button{
		margin-bottom: 5px;
	}
	.pull-right{
	float:none !important;
	display: block;
}
  .pull-right-button{
  	float: none;
  	display: inherit;
  	margin-bottom: 10px;
  }
  .hide-job-responsive-480{
	display: none;
}
}
